<a href="https://colab.research.google.com/github/Chao-coder/Dahua/blob/main/pandas_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

In [8]:
# Series 的s需要大写
s = pd.Series([1,2,3,4,np.nan,6,7])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    6.0
6    7.0
dtype: float64

In [22]:
# 生成时间
dates = pd.date_range('20230606',periods = 7)
dates

DatetimeIndex(['2023-06-06', '2023-06-07', '2023-06-08', '2023-06-09',
               '2023-06-10', '2023-06-11', '2023-06-12'],
              dtype='datetime64[ns]', freq='D')

In [23]:
# randn 返回一组样本 具有正态分布 N(0,1)
df = pd.DataFrame(np.random.randn(7,7),index = dates, columns = list('ABCDEFG'))
df

,A,B,C,D,E,F,G
2023-06-06,0.299566,0.781789,1.062510,0.485948,-0.341510,0.267366,-1.200566
2023-06-07,0.173266,-1.491342,1.411143,0.872865,-1.119506,0.834548,-0.117381
2023-06-08,-0.716327,-1.169979,1.204062,-0.699257,-1.299930,-1.201311,-0.600075
2023-06-09,0.560125,-0.500139,-0.531099,2.018539,2.275757,-0.995539,0.170953
2023-06-10,0.327182,-0.689213,-1.496126,-0.599486,-0.936845,0.305346,1.489741
2023-06-11,0.169966,1.061538,-0.124532,-1.360832,0.331894,-0.458975,0.950080
2023-06-12,0.548676,0.775174,0.294792,-0.412240,1.048038,-0.161505,0.067921

In [24]:


# 用Series 字典对象生成DataFrame
df2 = pd.DataFrame({'A':1.,
                    'B':pd.Timestamp('20230606'),
                    'C':pd.Series(2,index = list(range(6)),dtype = 'float32'),
                    'D':np.array([5]*6,dtype='int32'),
                    'E':pd.Categorical(['test','train','РЖД','рынок','Опять','забрать']),
                    'F':'wcc'
})
df2

     A          B    C  D        E    F
0  1.0 2023-06-06  2.0  5     test  wcc
1  1.0 2023-06-06  2.0  5    train  wcc
2  1.0 2023-06-06  2.0  5      РЖД  wcc
3  1.0 2023-06-06  2.0  5    рынок  wcc
4  1.0 2023-06-06  2.0  5    Опять  wcc
5  1.0 2023-06-06  2.0  5  забрать  wcc

In [27]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [30]:
# 查看头部数据
df2.head()

# 查看尾部数据(5条数据) 也可以自己加个数字 只看3行
df2.tail(3)

     A          B    C  D        E    F
3  1.0 2023-06-06  2.0  5    рынок  wcc
4  1.0 2023-06-06  2.0  5    Опять  wcc
5  1.0 2023-06-06  2.0  5  забрать  wcc

In [33]:
# 显示索引index和列名columns
df2.index
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [35]:
# 把dataframe 转换为numpy  其输出不包含行索引和列标签
df.to_numpy()

array([[ 0.29956607,  0.78178923,  1.06250956,  0.48594818, -0.34150982,
         0.26736588, -1.20056594],
       [ 0.17326575, -1.49134245,  1.41114268,  0.8728653 , -1.1195062 ,
         0.83454796, -0.1173808 ],
       [-0.71632654, -1.16997857,  1.20406246, -0.69925749, -1.29992997,
        -1.20131139, -0.6000755 ],
       [ 0.56012527, -0.50013855, -0.53109853,  2.01853852,  2.27575653,
        -0.9955391 ,  0.17095312],
       [ 0.3271819 , -0.68921273, -1.49612595, -0.59948585, -0.9368453 ,
         0.30534564,  1.4897406 ],
       [ 0.16996601,  1.06153829, -0.12453245, -1.36083246,  0.33189353,
        -0.45897493,  0.9500795 ],
       [ 0.54867596,  0.77517356,  0.29479164, -0.41223972,  1.04803827,
        -0.16150516,  0.06792066]])

In [36]:
# describe 查看数据的统计摘要
df.describe()

              A         B         C         D         E         F         G
count  7.000000  7.000000  7.000000  7.000000  7.000000  7.000000  7.000000
mean   0.194636 -0.176024  0.260107  0.043648 -0.006015 -0.201439  0.108667
std    0.431745  1.036031  1.058245  1.149591  1.311791  0.735769  0.902624
min   -0.716327 -1.491342 -1.496126 -1.360832 -1.299930 -1.201311 -1.200566
25%    0.171616 -0.929596 -0.327815 -0.649372 -1.028176 -0.727257 -0.358728
50%    0.299566 -0.500139  0.294792 -0.412240 -0.341510 -0.161505  0.067921
75%    0.437929  0.778481  1.133286  0.679407  0.689966  0.286356  0.560516
max    0.560125  1.061538  1.411143  2.018539  2.275757  0.834548  1.489741

In [37]:
# 转置数据
df.T

,2023-06-06,2023-06-07,2023-06-08,2023-06-09,2023-06-10,2023-06-11,2023-06-12
A,0.299566,0.173266,-0.716327,0.560125,0.327182,0.169966,0.548676
B,0.781789,-1.491342,-1.169979,-0.500139,-0.689213,1.061538,0.775174
C,1.062510,1.411143,1.204062,-0.531099,-1.496126,-0.124532,0.294792
D,0.485948,0.872865,-0.699257,2.018539,-0.599486,-1.360832,-0.412240
E,-0.341510,-1.119506,-1.299930,2.275757,-0.936845,0.331894,1.048038
F,0.267366,0.834548,-1.201311,-0.995539,0.305346,-0.458975,-0.161505
G,-1.200566,-0.117381,-0.600075,0.170953,1.489741,0.950080,0.067921